<ul class="nav flex-column bg-light-blue">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account') }}">Commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Adresses de Livraison</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Paiements</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Factures</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_account_modify_pwd') }}">Modifier votre Mot de Passe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Me Déconnecter</a>
    </li>
</ul>